* { box-sizing: border-box }

body {
    font-family: 'Raleway', sans-serif;
    margin: 1em;
}

/* header */

.header-list {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}

.header-list-item {
    padding-right: 25px;
    padding-top: 7px;
}

.header-list-item:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

/* header's 9 dots */

.grid-container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    padding-right: 25px;
}

.dots {
    border: 1px solid dimgray;
    background-color: dimgray;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    margin-top: 7px;
}



/* acc-info */
#header-account-info {
    margin-right: 10px;
    border: 1px solid darkgreen;
    border-radius: 50%;
    background-color: darkgreen;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

/* google logo */

#google {
    text-align: center;
    font-size: 46px;
    letter-spacing: -12px;
    margin-top: 100px;
}

.blue {
    color: #4285F4;
}
.red {
    color: #DB4437;
}
.yellow {
    color: #F4B400;
}
.green {
    color: #0F9D58;
}


/* search bar */

input {
    display: block;
    margin: 0 auto;
    color: dimgray;
    width: 550px;
    height: 45px;
    padding: 15px 45px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid white;
    position: relative;
    bottom: 30px;
    font-size: 16px;
    font-weight: 200;
    -webkit-box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.16);
    box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.16);
}

.inbox, .calendar, .drive, .youtube {
    width: 25px;
    height: auto;
}

.inbox, .calendar, .drive, .youtube, .codepen, .shortcut-icons {
    border: 1px solid gainsboro;
    background-color: gainsboro;
    border-radius: 50%;
    width: 50px;
    height: auto;
}

.customize {
    color: #4285F4;
}